
{% for value in millau_demand_partners %}
{% set dp_sp = value.name.split('_', 1) %}

============================
value.name : {{value.name}}
dp_sp[0]   : {{dp_sp[0]}}
dp_sp[1]   : {{dp_sp[1]}}
============================

{% endfor %}