#!/bin/bash

{% for value in test_value_existence_list[test_nodename] %}
{% if value.skye_enabled|bool %}
{% set dp_sp = value.name.split('_') %}
{% if 'retain_discarded' in value %}
cleanup_discarded {{value.name}} {{value.retain_discarded|as_minutes}}
{% endif %}
{% if 'retain_runs' in value %}
cleanup_runs {{value.name}} {{value.retain_runs|as_minutes}}
{% endif %}
{% endif %}
{% endfor %}

# Delete files older than specified period, regardless of whether or not the inventory has a configured retention value
cleanup_discarded '*' {{skye_retention_discarded|as_minutes}}
cleanup_runs '*' {{skye_retention_runs|as_minutes}}